* {
	border: 2px solid red;
}

a {
	text-decoration: none;
	color: white;
	border-radius: 1rem;
	padding: 1rem;
	margin: 6rem;
}

a:nth-child(1) {
	background-color: #ff764e;
}

a:nth-child(2) {
	background-color: #5ed3eb;
}

a:nth-child(3) {
	background-color: #ffcd69;
}

nav {
	margin: 2rem;
}

header img {
	width: 300px;
	border-radius: 50%;
	float: left;
	margin-left: 25rem;
}

.header-content {
	text-align: center;
}

h1 {
	font-family: "Chelsea Market", cursive;
	font-size: 4rem;
}
